<div class="task processing">
  <div class="container">
    <div class="content">
      <header class="page-header">
        <div class="pull-right">
          <button type="button" class="new-task btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            New Task
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <strong>{{ config.task.listLimit }}</strong>/page <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-class="{ active: value === config.task.listLimit }" ng-repeat="value in app.task.buildTaskListLimitArray()">
                <a href="" ng-click="setLimit(value)">
                  <strong>{{ value }}</strong>/page
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h2>
          <span class="glyphicon glyphicon-remove text-warning"></span>
          &nbsp;
          <strong class="text-danger">{{ _.size(tasks) || 'No' }}</strong>
          Failed Task{{ _.size(tasks) > 1 ? 's' : '' }}
        </h2>
      </header>
      <div class="status">
        <table class="table table-condensed table-hover table-responsive table-striped">
          <thead>
            <th>ID</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Attempts</th>
            <th>Progress</th>
            <th>Created</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks | limitTo:config.task.listLimit | orderBy:'updatedAt':reverse" class="animate-fade">
              <td>{{ task.id | limitTo:8 }}</td>
              <td>{{ task.type }}</td>
              <td>{{ task.priority }}</td>
              <td>{{ task.attempts }}</td>
              <td>{{ task.progress }}</td>
              <td>{{ moment(task.createdAt).fromNow() }}</td>
              <td>
                <button title="Set active state">
                  <span class="glyphicon glyphicon-time"></span>
                </button>
                <button title="Set inactive state">
                  <span class="glyphicon glyphicon-pause"></span>
                </button>
                <button title="Show detail">
                  <span class="glyphicon glyphicon-cog"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center text-muted" ng-show="_.isEmpty(tasks)">
          <em>Waiting for tasks...</em>
        </div>
        <div ng-show="_.size(tasks) > config.task.listLimit" class="text-center">
          <ul class="pagination">
            <li class="disabled"><a href="">&laquo;</a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
