<div class="container">
  <div class="well text-center">
    <h3>DASHBOARD</h3>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="well text-center">
        ACTIVE
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well text-center">
        PROCESSING
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well text-center">
        COMPLETE
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well text-center">
        FAILED
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well text-center">
        INACTIVE
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well text-center">
        STATS
      </div>
    </div>
  </div>
</div>
